= form_for @category do |f|
  .field
    = f.label :name, 'Category Name'
    = f.text_field :name
  .field
    = f.submit 'Submit', :class => 'submit-button'
    or
    = link_to "Cancel", categories_path, :class => "cancel"

